* {
    margin: 0px;
}
label {
    background-color: #d35400;
    color: black;
    font-size: 17px;
    padding: 4px;
    border-radius: 15px;
}
#login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #615858;
    transform: translate(-50%, -50%);
    padding: 50px;
    padding-bottom: 30px;
    border-radius: 10px;
    text-align: center;
}
@media only screen and (max-width: 576px) {
    .header {
        height: 180px;
        background-color: #5d5acb;
        color: azure;
    }
    .login {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-top: 15px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 20px;
        border-radius: 20px;
        background-color: #3d3d4b;
        color: white;
        box-shadow: 12px 12px 22px black;
    }
}
